<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree|Libre+Franklin|Quicksand" rel="stylesheet">
  <% include partials/_scripts %>

</head>

<body>
  <% include partials/_header %>
  <h1>Admin Page</h1>
  <h1>Your Poll:</h1>
  <h3>poll results here</h3>
</body>

</html>