<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_scripts %>

</head>

<body>
  <% include partials/_header %>
  <main class="admincontainer">
    <div class="results">
      <h1 class="pagetitle">Admin and Results</h1>
      <h1 class="polltitle">
        <%= options[0].name %>
      </h1>
      <ol>
        <% for (let i = 0; i < options.length; i++) {%>
        <li>
          <%= Object.values(options[i])[0] %>
        </li>
        <% };%>
      </ol>

      <h5>Share the voting link<br>with your friends:</h5><br>
      <textarea readonly class="clipboard">localhost:8080/api/users/user/<%=randomURL%></textarea>
      <span class="clipboardbutton"><i class="fas fa-clipboard"></i></span>
      <p class="postcopied">Copied to clipboard.</p><br><br>
      <span class="social-share"><a href="#" class="fb-share"><i class="fab fa-facebook-square"></i></a>
      <div id="fb-root"></div></span>
      <span class="social-share"><i class="fab fa-twitter-square"></i></span>
      <span class="social-share"><i class="fab fa-instagram"></i></span>
    </a>
  </main>
  </div>
</body>

</html>
