<!DOCTYPE html>
<html lang="en">

<head>


  <title>Admin Page</title>

  <% include partials/_scripts %>

</head>

<body>
  <% include partials/_header %>
  <h1>Your Poll:</h1>
  <h3>poll results here</h3>
</body>

</html>