<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_scripts %>

</head>

<body>
  <% include partials/_header %>
  <main class="container">
    <div class="poll">
      <h1>Admin Page</h1>
      <h1 class="polltitle">
        <%= options[0].name %>
      </h1>
      <h3>Results here:</h3>
      <ol>
        <% for (let i = 0; i < options.length; i++) {%>
        <li>
          <%= Object.values(options[i])[0] %>
        </li>
        <% };%>
      </ol>

      <h5>This is the voting <a href="/user/<%=randomURL%>">link</a></h5>
  </main>
  </div>
</body>

</html>
