<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
  <h1>Create Poll</h1>
</head>

<body>

  <form action="/create" method="post">
    Email: <input type="email" name="email"><br>
    Title: <input type="title" name="title"><br>
    Description: <input type="description" name="description" placeholder="optional"><br>
    <div class="test">
      <label for="options" class="counterText">Option 1: </label><input type="text" name="options"><br>
      <label for="options" class="counterText">Option 2: </label><input type="text" name="options"><br>
    </div>
    <button type="button" id="addOption">Add another option</button>
    <input type="submit" class="btn btn-dark" value="Create Poll">
  </form>
  <!--   <section id="sortable">
    <div class="testing">drag and dropping</div><br>
    <div class="testing">drag and dropping</div><br>
    <div class="testing">drag and dropping</div><br>
    <div class="testing">drag and dropping</div><br>
    <div class="testing">drag and dropping</div><br>
    <div class="testing">drag and dropping</div><br>
    <div class="testing">drag and dropping</div><br>
    <div class="testing">drag and dropping</div><br>
    <div class="testing">drag and dropping</div><br>
    <div class="testing">drag and dropping</div><br>
    <div class="testing">drag and dropping</div><br>
    <div class="testing">drag and dropping</div><br>
    <div class="testing">drag and dropping</div>
  </section> -->
</body>

</html>