<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
</head>

<body>
  <h1>Create Poll</h1>
  <form class = "inputField" action="/create" method="post">
    <div class="test">
      <label for="email">Email: </label><input type="email" name="email"><br>
      <label for="title">Title: </label><input type="title" name="title"><br>
      <label for="description">Description: </label><input type="description" name="description"><br>
      <label for="options" class="counterText">Option 1: </label><input type="text" name="options"><br>
      <label for="options" class="counterText">Option 2: </label><input type="text" name="options"><br>
    </div>
    <button type="button" id="addOption">Add another option</button><br>
    <input type="submit" value="Create Poll">
  </form>
</body>

</html>
