<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_scripts %>

</head>

<body>
  <% include partials/_header %>
  <main class="poll_container">
    <h1>Cast Your Vote</h1>
    </div>
    <div class="poll_container_box">
      <div class=<h1>Poll:
        <%= Object.values(option[0])[1]%>
        </h1>
        <ul id="sortable-1">
          <% for (i = 0; i < option.length; i++) {%>
          <li class="default">
            <%= Object.values(option[i])[0] %>
          </li>
          <% };%>
        </ul>
        <button class="vote" type="submit"> Sumbit </button>
      </div>
  </main>

  <h5 hidden id="pollid">
    <%=randomURL%>
  </h5>
</body>

</html>