<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
  <h1>Poll</h1>
</head>

<body>
  <h1>Cast Your Votes</h1>
  <ul id="sortable-1">
    <% for (i = 0; i < option.length; i++) {%>
    <li class="default">
      <%= Object.values(option[i])[0] %>
    </li>
    <% };%>
  </ul>
  <button class="vote" type="submit"> Sumbit </button>
</body>

</html>