<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_scripts %>

</head>

<body>
  <title>Choo Choose</title>
<nav id="navbar">
</nav>
<span class="thanksheader">THANKS FOR CHOO-CHOOSING!</span>
  <main class="thankscontainer">
    <div class="thanksmessages">
<h4>Your vote has left the station.</h4>
</div>

</main>
</body>

</html>
