<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_scripts %>
  <h1>Thanks for voting!</h1>
</head>

<body>
  <% include partials/_header %>

  <h5>The poll creator will notify you of the results.</h5>
</body>

</html>
