$main: #17a2b8;

form {
  width: 700px;
  height: 100;
  background-color: #eaeaf1;
  padding: 100px 100px 50px 100px;
  margin-right: 20px;
  margin-left: 20px;
  h3 {
    color: $main;
    font-size: 2.5em;
    // text-align: center;
  }
  .btn {
    margin-top: 50px;
  }
  #addOption {
    margin-left: 110px;
    margin-right: 22px;
    margin-top: 10px;
  }
  label {
    width: 80px;
    margin: 15px 20px 5px 10px;
    float: left;
    font-size: 17px;
    opacity: 0.8;
  }
  input {
    width: 280px;
    clear: right;
    border-radius: 4px;
    margin: 15px 10px 5px 20px;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}
