form {
  width: 490px;
  background-color: #eaeaf1;
  padding: 10px;
}

.test {
  label {
    width: 80px;
    margin: 5px 20px 5px 10px;
    float: left;
    clear: left;
    text-align: left;
  }
  input {
    width: 280px;
    clear: right;
    position: relative;
    margin: 5px 10px 5px 0px;
  }
}
