* {
  font-family: 'VT323', monospace;
}

html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
  background-color: white;
  // width: 500px;
  color: #0e343f;
  margin-top: 125px;
}
.container {
  height: 1100px;
  width: 1000px;
  background: url('../images/subway.png');
  background-color: #ecdada;
  margin-right: 210px;
  padding-right: 50px;
  &.notrain {
    background: none;
  }
}
