* {
  font-family: 'Bai Jamjuree', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
}

#nav {
  a {
    color: rgb(210, 167, 253);
  }
}

body {
  background-color: #eee;
  width: 500px h1 {
    color: #244751;
  }
}
