* {
  font-family: 'Bai Jamjuree', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
}
#nav {
  a {
    color: rgb(216, 193, 236);
    width: 100%;
    &:hover {
      color: white;
    }
  }
}
html {
  height: 100%;
  body {
    height: 100%;
    min-height: 100%;
    background-color: white;
    // width: 500px;
    color: #0e343f;
    padding-top: 65px;
    .container {
      display: flex;
      height: 100%;
      justify-content: center;
      background-color: pink;
      width: 900px;
    }
  }
}
