$blue: #77c8cb;
$purple: rgb(87, 84, 87);

.poll_container {
  margin: auto;
  height: 1100px;
  width: 1100px;
  background-color: #ecdada;
  display: flex;
  flex-direction: column;
  position: relative;

  align-items: center;

  text-align: center;
  .poll_container_box {
    width: 800px;
    background-color: #fefcde;
    border-radius: 20px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 200px 200px 200px;
    align-items: center;
  }

  header {
    font-size: 6em;
    margin: 30px;
  }
  .poll_title {
    font-size: 4em;
  }
  ul {
    list-style: none;
    margin-bottom: 75px;
    li {
      font-size: 3em;
      margin: 2px;
      background-color: $blue;
      opacity: 0.8;
      // box-shadow: 0px 0px 40px 40px;
      border-radius: 6px;
      &:hover {
        opacity: 1;
      }
    }
  }
  .vote {
    border-radius: 10px;
    font-size: 40px;
    padding: 20px 20px 45px 20px;
    vertical-align: middle;
    opacity: 0.6;
    color: $blue;
    background-color: $purple;
    &:hover {
      opacity: 1;
      color: $purple;
      background-color: $blue;
    }
  }
}
