.thankscontainer {
  border-radius: 25px;
  width: 1100px;
  min-height: 550px;
  background-attachment: local;
  background: url(../images/trainstation.png);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 15px 40px;
  margin: auto;
}

.thanksmessages {
  margin: auto;
  text-align: center;
  width: 100%;
  background-color: #ecdad9;
  font-size: 5em;

  h4 {
  margin-top: 40px;
  }
}

.thanksheader {
  opacity: 1;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 7em;
  margin: auto;
  font-family: 'VT323', monospace;
}
